<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <div class="row-fluid">
        
        <div class="span8">
          <%= image_tag("farmacias_logo.png", :height => '32', :width => '32', :id => 'logo_image') %>
          <%= link_to t('header.designacao_farmacia'), '#', :id => 'logo_title'%>
        </div>
        
        <div class="span4">
          <ul class="nav pull-right">
            <li>
              <%= link_to t('header.link_login_html') %>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>