<p id="notice"><%= notice %></p>

<p>
  <b>Estado:</b>
  <%= @estados_encomenda.estado %>
</p>


<%= link_to 'Edit', edit_estados_encomenda_path(@estados_encomenda) %> |
<%= link_to 'Back', estados_encomendas_path %>
